<a href="https://colab.research.google.com/github/Anuj-1996/Ship_CO2_Emission/blob/main/EDA_of_EU_CO2_emissions_from_maritime_transport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
!pip install matplotlib --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.5.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (21.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (7.1.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

In [45]:
pip install dtale

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dtale in /usr/local/lib/python3.7/dist-packages (2.9.0)
Requirement already satisfied: future>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (0.16.0)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (5.5.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from dtale) (0.20.2)
Requirement already satisfied: matplotlib==3.5.3 in /usr/local/lib/python3.7/dist-packages (from dtale) (3.5.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from dtale) (0.11.2)
Requirement already satisfied: squarify in /usr/local/lib/python3.7/dist-packages (from dtale) (0.4.3)
Requirement already satisfied: dash-bootstrap-components in /usr/local/lib/python3.7/dist-packages (from dtale) (1.2.1)
Requirement already satisfied: flask-ngrok in /usr/local/lib/python3.7/dist-packages (from dtale) (0.0.25)
Requirement already satisfied: dash>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (2.7.0)
Requirement already satisfied: kaleido in /usr/local/lib/python3.7/dist-packages (from dtale) (0.2.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dtale) (1.3.5)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from dtale) (2.23.0)
Requirement already satisfied: packaging<=21.0 in /usr/local/lib/python3.7/dist-packages (from dtale) (21.0)
Requirement already satisfied: itsdangerous in /usr/local/lib/python3.7/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dtale) (1.21.6)
Requirement already satisfied: dash-daq in /usr/local/lib/python3.7/dist-packages (from dtale) (0.5.0)
Requirement already satisfied: networkx==2.6.3 in /usr/local/lib/python3.7/dist-packages (from dtale) (2.6.3)
Requirement already satisfied: scipy==1.7.3 in /usr/local/lib/python3.7/dist-packages (from dtale) (1.7.3)
Requirement already satisfied: dash-colorscales in /usr/local/lib/python3.7/dist-packages (from dtale) (0.0.4)
Requirement already satisfied: scikit-learn==1.0.2 in /usr/local/lib/python3.7/dist-packages (from dtale) (1.0.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (from dtale) (3.0.10)
Requirement already satisfied: lz4 in /usr/local/lib/python3.7/dist-packages (from dtale) (4.0.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from dtale) (2022.9.24)
Requirement already satisfied: strsimpy in /usr/local/lib/python3.7/dist-packages (from dtale) (0.2.1)
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from dtale) (1.1.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from dtale) (1.15.0)
Requirement already satisfied: missingno<=0.4.2 in /usr/local/lib/python3.7/dist-packages (from dtale) (0.4.2)
Requirement already satisfied: statsmodels==0.12.2 in /usr/local/lib/python3.7/dist-packages (from dtale) (0.12.2)
Requirement already satisfied: cycler in /usr/local/lib/python3.7/dist-packages (from dtale) (0.11.0)
Requirement already satisfied: Flask-Compress in /usr/local/lib/python3.7/dist-packages (from dtale) (1.13)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->dtale) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->dtale) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->dtale) (7.1.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->dtale) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->dtale) (1.4.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2->dtale) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2->dtale) (1.2.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels==0.12.2->dtale) (0.5.3)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash>=2.0.0->dtale) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash>=2.0.0->dtale) (5.0.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask->dtale) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->dtale) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask->dtale) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask->dtale) (2.0.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib==3.5.3->dtale) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dtale) (2022.6)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dtale) (8.1.0)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->dtale) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->dtale) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from xarray->dtale) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->xarray->dtale) (3.10.0)

# **EDA of CO2 emissions from maritime transport (Europe)**

For this EDA, the dataset has downloaded from the EU MRV website : https://mrv.emsa.europa.eu/#public/emission-report.

The EU MRV (Monitoring, Reporting, Verification) Regulation entered into force on 1 July 2015, and requires ship owners and operators to annually monitor, report and verify CO2 emissions for vessels larger than 5000 gross tonnage (GT) calling at any EU and EFTA (Norway and Iceland) port.

# Preliminary Dataset

Year wise dataset available on the EU MRV website from 2018 to 2021 in the Excel format. The year-wise dataset downloaded on local drive and merge on the Excel. Also, deleted unnecessory/empty column from the dataset.

In [46]:
#Mounting Drive
# from google.colab import drive
# drive.mount('/content/drive')

In [47]:
#importing libraries
import pandas as pd
import numpy as np

#Chi-Suquare test
import scipy.stats as stats

#visualization Libraries: Matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

#Seaborn
import seaborn as sns
sns.set()

#plotly go and px
import plotly
import plotly.graph_objs as go
import plotly.express as px

#ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [48]:
# Importing Excel from the drive and converting csv to pandas df
dataset = pd.read_excel('/content/drive/MyDrive/EU_CO2_Emission_Data/2018_2021_EU_ship_emission.xlsx')

In [49]:
#creating copy of main dataset
df = dataset.copy()

In [50]:
# remove spaces in columns name
df.columns = df.columns.str.replace(' ','_')

In [51]:
# Displaying 1st five rows
df.head(5)

,IMO_Number,Name,Ship_type,Reporting_Period,Technical_efficiency,[gCO₂/t·nm],Ice_Class,Verifier_Country,A,B,...,Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles],Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles],Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles],Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles],CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile],CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles],CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles],CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles],CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles],CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]
0,6703343,EQUALITY,Other ship types,2021.0,EIV,57.84,NaN,Greece,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7037806,IONIAN STAR,Ro-pax ship,2021.0,EIV,19.40,NaN,France,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7043843,TALOS,Ro-ro ship,2021.0,EIV,48.71,NaN,France,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7128332,SEA WIND,Ro-pax ship,2021.0,EIV,9.29,IB,France,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7226952,FJARDVAGEN,Ro-ro ship,2021.0,EIV,43.00,IA,France,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Dataset Overview

In [52]:
#shape of the Dataset
print('\n Shape:',df.shape)

 Shape: (48848, 50)

In [53]:
#Column or Feature in the dataset
print("\nNumber of features:", df.shape[1])
print("\nFeatures:")
print(df.columns.tolist())

Number of features: 50

Features:
['IMO_Number', 'Name', 'Ship_type', 'Reporting_Period', 'Technical_efficiency', '[gCO₂/t·nm]', 'Ice_Class', 'Verifier_Country', 'A', 'B', 'C', 'D', 'Total_fuel_consumption_[m_tonnes]', 'Fuel_consumptions_assigned_to_On_laden_[m_tonnes]', 'Total_CO₂_emissions_[m_tonnes]', 'CO₂_emissions_from_all_voyages_between_ports_under_a_MS_jurisdiction_[m_tonnes]', 'CO₂_emissions_from_all_voyages_which_departed_from_ports_under_a_MS_jurisdiction_[m_tonnes]', 'CO₂_emissions_from_all_voyages_to_ports_under_a_MS_jurisdiction_[m_tonnes]', 'CO₂_emissions_which_occurred_within_ports_under_a_MS_jurisdiction_at_berth_[m_tonnes]', 'CO₂_emissions_assigned_to_Passenger_transport_[m_tonnes]', 'CO₂_emissions_assigned_to_Freight_transport_[m_tonnes]', 'CO₂_emissions_assigned_to_On_laden_[m_tonnes]', 'Annual_Total_time_spent_at_sea_[hours]', 'Annual_average_Fuel_consumption_per_distance_[kg_/_n_mile]', 'Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles]', 'Annual_average_Fuel_consumption_per_transport_workvolume)_[g_/_m³_·_n_miles]', 'Annual_average_Fuel_consumption_per_transport_workdwt)_[g_/_dwt_carried_·_n_miles]', 'Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles]', 'Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles]', 'Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile]', 'Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles]', 'Annual_average_CO₂_emissions_per_transport_workvolume)_[g_CO₂_/_m³_·_n_miles]', 'Annual_average_CO₂_emissions_per_transport_workdwt)_[g_CO₂_/_dwt_carried_·_n_miles]', 'Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles]', 'Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles]', 'Through_ice_[n_miles]', 'Total_time_spent_at_sea_[hours]', 'Total_time_spent_at_sea_through_ice_[hours]', 'Fuel_consumption_per_distance_on_laden_voyages_[kg_/_n_mile]', 'Fuel_consumption_per_transport_workmass)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]', 'Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles]', 'Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles]', 'Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles]', 'Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]', 'CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile]', 'CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]', 'CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles]', 'CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles]', 'CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles]', 'CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]']

In [54]:
#missing value
missing_value = df.isnull().sum().values.sum()

if missing_value == 0:
  print('\n Missing Values: No Missing Values')
else:
  print('\n Missing Values:', missing_value)

 Missing Values: 1420366

In [55]:
#unique value

print("\n Unique values:")
print(df.nunique())

 Unique values:
IMO_Number                                                                                     18265
Name                                                                                           19451
Ship_type                                                                                         15
Reporting_Period                                                                                   4
Technical_efficiency                                                                               2
[gCO₂/t·nm]                                                                                     3061
Ice_Class                                                                                         11
Verifier_Country                                                                                  14
A                                                                                                  1
B                                                                                                  1
C                                                                                                  1
D                                                                                                  1
Total_fuel_consumption_[m_tonnes]                                                              44122
Fuel_consumptions_assigned_to_On_laden_[m_tonnes]                                               5738
Total_CO₂_emissions_[m_tonnes]                                                                 46571
CO₂_emissions_from_all_voyages_between_ports_under_a_MS_jurisdiction_[m_tonnes]                33277
CO₂_emissions_from_all_voyages_which_departed_from_ports_under_a_MS_jurisdiction_[m_tonnes]    41121
CO₂_emissions_from_all_voyages_to_ports_under_a_MS_jurisdiction_[m_tonnes]                     41341
CO₂_emissions_which_occurred_within_ports_under_a_MS_jurisdiction_at_berth_[m_tonnes]          33731
CO₂_emissions_assigned_to_Passenger_transport_[m_tonnes]                                        1524
CO₂_emissions_assigned_to_Freight_transport_[m_tonnes]                                          1497
CO₂_emissions_assigned_to_On_laden_[m_tonnes]                                                   5821
Annual_Total_time_spent_at_sea_[hours]                                                         39073
Annual_average_Fuel_consumption_per_distance_[kg_/_n_mile]                                     18865
Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles]                4596
Annual_average_Fuel_consumption_per_transport_workvolume)_[g_/_m³_·_n_miles]                     595
Annual_average_Fuel_consumption_per_transport_workdwt)_[g_/_dwt_carried_·_n_miles]              1871
Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles]                      2000
Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles]             1388
Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile]                                    31322
Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles]               8861
Annual_average_CO₂_emissions_per_transport_workvolume)_[g_CO₂_/_m³_·_n_miles]                    907
Annual_average_CO₂_emissions_per_transport_workdwt)_[g_CO₂_/_dwt_carried_·_n_miles]             3183
Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles]                     2040
Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles]            1445
Through_ice_[n_miles]                                                                             66
Total_time_spent_at_sea_[hours]                                                                39073
Total_time_spent_at_sea_through_ice_[hours]                                                       64
Fuel_consumption_per_distance_on_laden_voyages_[kg_/_n_mile]                                    3889
Fuel_consumption_per_transport_workmass)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]              1473
Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles]                   137
Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles]             315
Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles]                      17
Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]              0
CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile]                                   4246
CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]             2529
CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles]                  169
CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles]            369
CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles]                     17
CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]             0
dtype: int64

In [56]:
#Data Type
print("\n Datatype:")
df.dtypes

 Datatype:

IMO_Number                                                                                       int64
Name                                                                                            object
Ship_type                                                                                       object
Reporting_Period                                                                               float64
Technical_efficiency                                                                            object
[gCO₂/t·nm]                                                                                    float64
Ice_Class                                                                                       object
Verifier_Country                                                                                object
A                                                                                               object
B                                                                                               object
C                                                                                               object
D                                                                                               object
Total_fuel_consumption_[m_tonnes]                                                              float64
Fuel_consumptions_assigned_to_On_laden_[m_tonnes]                                              float64
Total_CO₂_emissions_[m_tonnes]                                                                 float64
CO₂_emissions_from_all_voyages_between_ports_under_a_MS_jurisdiction_[m_tonnes]                float64
CO₂_emissions_from_all_voyages_which_departed_from_ports_under_a_MS_jurisdiction_[m_tonnes]    float64
CO₂_emissions_from_all_voyages_to_ports_under_a_MS_jurisdiction_[m_tonnes]                     float64
CO₂_emissions_which_occurred_within_ports_under_a_MS_jurisdiction_at_berth_[m_tonnes]          float64
CO₂_emissions_assigned_to_Passenger_transport_[m_tonnes]                                       float64
CO₂_emissions_assigned_to_Freight_transport_[m_tonnes]                                         float64
CO₂_emissions_assigned_to_On_laden_[m_tonnes]                                                  float64
Annual_Total_time_spent_at_sea_[hours]                                                         float64
Annual_average_Fuel_consumption_per_distance_[kg_/_n_mile]                                     float64
Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles]               float64
Annual_average_Fuel_consumption_per_transport_workvolume)_[g_/_m³_·_n_miles]                   float64
Annual_average_Fuel_consumption_per_transport_workdwt)_[g_/_dwt_carried_·_n_miles]             float64
Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles]                     float64
Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles]            float64
Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile]                                    float64
Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles]              float64
Annual_average_CO₂_emissions_per_transport_workvolume)_[g_CO₂_/_m³_·_n_miles]                  float64
Annual_average_CO₂_emissions_per_transport_workdwt)_[g_CO₂_/_dwt_carried_·_n_miles]            float64
Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles]                    float64
Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles]           float64
Through_ice_[n_miles]                                                                          float64
Total_time_spent_at_sea_[hours]                                                                float64
Total_time_spent_at_sea_through_ice_[hours]                                                    float64
Fuel_consumption_per_distance_on_laden_voyages_[kg_/_n_mile]                                   float64
Fuel_consumption_per_transport_workmass)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]             float64
Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles]                 float64
Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles]           float64
Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles]                   float64
Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]          float64
CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile]                                  float64
CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]            float64
CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles]                float64
CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles]          float64
CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles]                  float64
CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]         float64
dtype: object

In [57]:
#Describe
print("\n Statistics:")
df.describe().T

 Statistics:

,count,mean,std,min,25%,50%,75%,max
IMO_Number,48848.0,9.452908e+06,2.872266e+05,5383304.00,9.307798e+06,9451575.000,9.662370e+06,9.924912e+06
Reporting_Period,48848.0,2.019493e+03,1.117787e+00,2018.00,2.018000e+03,2019.000,2.020000e+03,2.021000e+03
[gCO₂/t·nm],44898.0,1.331610e+01,2.406462e+02,0.00,4.500000e+00,7.090,1.448000e+01,4.622200e+04
Total_fuel_consumption_[m_tonnes],48848.0,3.580911e+03,4.535996e+03,0.00,1.046290e+03,2060.890,4.083733e+03,9.846520e+04
Fuel_consumptions_assigned_to_On_laden_[m_tonnes],5835.0,3.074454e+03,4.383853e+03,0.00,7.528650e+02,1452.300,2.990055e+03,4.471546e+04
Total_CO₂_emissions_[m_tonnes],48848.0,1.117477e+04,1.404531e+04,0.00,3.283740e+03,6472.610,1.282207e+04,3.154785e+05
CO₂_emissions_from_all_voyages_between_ports_under_a_MS_jurisdiction_[m_tonnes],48848.0,3.406427e+03,1.166661e+04,0.00,0.000000e+00,562.905,2.477742e+03,1.672576e+06
CO₂_emissions_from_all_voyages_which_departed_from_ports_under_a_MS_jurisdiction_[m_tonnes],48848.0,3.402532e+03,5.086573e+03,0.00,6.963575e+02,1844.540,3.830892e+03,1.706430e+05
CO₂_emissions_from_all_voyages_to_ports_under_a_MS_jurisdiction_[m_tonnes],48848.0,3.720010e+03,5.642987e+03,0.00,8.570825e+02,2111.530,4.200448e+03,3.595340e+05
CO₂_emissions_which_occurred_within_ports_under_a_MS_jurisdiction_at_berth_[m_tonnes],48848.0,7.355515e+02,5.899453e+03,0.00,1.205100e+02,314.600,8.308550e+02,1.260629e+06
CO₂_emissions_assigned_to_Passenger_transport_[m_tonnes],1527.0,1.726337e+04,1.880642e+04,0.00,3.652950e+03,10300.620,2.430511e+04,1.054151e+05
CO₂_emissions_assigned_to_Freight_transport_[m_tonnes],1507.0,2.060970e+04,1.964669e+04,0.00,5.827705e+03,15474.850,2.969251e+04,1.270266e+05
CO₂_emissions_assigned_to_On_laden_[m_tonnes],5838.0,9.593135e+03,1.363934e+04,0.00,2.357688e+03,4544.475,9.325650e+03,1.395453e+05
Annual_Total_time_spent_at_sea_[hours],48848.0,1.475896e+04,2.730116e+06,0.00,9.975750e+02,1964.860,3.567650e+03,6.034010e+08
Annual_average_Fuel_consumption_per_distance_[kg_/_n_mile],47172.0,1.474532e+02,3.409518e+03,2.79,7.749000e+01,99.630,1.425425e+02,7.192070e+05
Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles],40086.0,3.087180e+04,3.628722e+06,0.01,2.530000e+00,4.030,8.810000e+00,7.192070e+08
Annual_average_Fuel_consumption_per_transport_workvolume)_[g_/_m³_·_n_miles],1276.0,1.018566e+02,3.166209e+03,0.16,2.710000e+00,3.580,4.962500e+00,1.130187e+05
Annual_average_Fuel_consumption_per_transport_workdwt)_[g_/_dwt_carried_·_n_miles],4929.0,4.581532e+05,2.203251e+07,0.04,5.670000e+00,7.790,1.127000e+01,1.449000e+09
Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles],2062.0,4.675998e+03,1.207040e+05,0.00,1.034725e+02,235.460,4.342025e+02,5.343834e+06
Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles],1504.0,2.053383e+02,1.186910e+03,0.00,2.748250e+01,64.510,1.833450e+02,4.321442e+04
Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile],47172.0,4.622182e+02,1.091632e+04,0.00,2.435300e+02,313.005,4.474700e+02,2.305780e+06
Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles],40086.0,9.851230e+04,1.162969e+07,0.03,7.950000e+00,12.640,2.768750e+01,2.305780e+09
Annual_average_CO₂_emissions_per_transport_workvolume)_[g_CO₂_/_m³_·_n_miles],1276.0,2.914796e+02,9.031600e+03,0.50,7.907500e+00,10.530,1.421500e+01,3.223777e+05
Annual_average_CO₂_emissions_per_transport_workdwt)_[g_CO₂_/_dwt_carried_·_n_miles],4929.0,1.430186e+06,6.871245e+07,0.12,1.790000e+01,24.540,3.552000e+01,4.517430e+09
Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles],2062.0,1.466972e+04,3.764334e+05,0.00,3.207100e+02,743.380,1.372162e+03,1.664932e+07
Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles],1504.0,6.465696e+02,3.798928e+03,0.00,8.588500e+01,202.355,5.781975e+02,1.385454e+05
Through_ice_[n_miles],2843.0,2.835611e+01,4.244508e+02,0.00,0.000000e+00,0.000,0.000000e+00,1.110330e+04
Total_time_spent_at_sea_[hours],48848.0,1.475896e+04,2.730116e+06,0.00,9.975750e+02,1964.860,3.567650e+03,6.034010e+08
Total_time_spent_at_sea_through_ice_[hours],2843.0,3.219349e+00,4.642317e+01,0.00,0.000000e+00,0.000,0.000000e+00,1.166350e+03
Fuel_consumption_per_distance_on_laden_voyages_[kg_/_n_mile],4444.0,2.863284e+02,1.078738e+04,0.00,7.484500e+01,95.820,1.399375e+02,7.192070e+05
Fuel_consumption_per_transport_workmass)_on_laden_voyages_[g_/_m_tonnes_·_n_miles],5359.0,1.342156e+05,9.824535e+06,0.00,1.910000e+00,2.850,5.685000e+00,7.192070e+08
Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles],197.0,5.887716e+00,5.239112e+01,0.27,1.550000e+00,1.840,2.430000e+00,7.372700e+02
Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles],407.0,1.010330e+02,1.868118e+03,0.01,2.435000e+00,3.760,6.565000e+00,3.768275e+04
Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles],17.0,3.301982e+02,3.074025e+02,92.54,1.219500e+02,134.710,6.019600e+02,9.491300e+02
Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles],0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile],4444.0,9.073017e+02,3.458444e+04,0.00,2.353650e+02,301.100,4.391350e+02,2.305780e+06
CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles],5359.0,4.302969e+05,3.149749e+07,0.00,5.980000e+00,8.970,1.784000e+01,2.305780e+09
CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles],197.0,1.687340e+01,1.495405e+02,0.86,4.540000e+00,5.420,6.790000e+00,2.104480e+03
CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles],407.0,3.155562e+02,5.831135e+03,0.04,7.665000e+00,11.910,2.076000e+01,1.176228e+05
CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles],17.0,1.052356e+03,9.878001e+02,288.38,3.849800e+02,424.640,1.929880e+03,3.042920e+03
CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles],0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#ship types
df.Ship_type.unique()

array(['Other ship types', 'Ro-pax ship', 'Ro-ro ship', 'Bulk carrier',
       'Passenger ship', 'General cargo ship', 'Chemical tanker',
       'Container ship', 'Refrigerated cargo carrier', 'Vehicle carrier',
       'Gas carrier', 'Container/ro-ro cargo ship', 'Oil tanker',
       'Combination carrier', 'LNG carrier'], dtype=object)

# **Dataset as per ship types**

Creating new dataset as per the unique value of the ships.

In [59]:
#Ro-pax ship
df_ropax = df[df['Ship_type']=='Ro-pax ship']

#Ro-ro ship
df_roro = df[df['Ship_type']=='Ro-ro ship']

#Bulk carrier
df_bulk = df[df['Ship_type']=='Bulk carrier']

#Passenger ship
df_passenger = df[df['Ship_type']=='Passenger ship']

#General cargo ship
df_cargo = df[df['Ship_type']=='General cargo ship']

#Chemical tanker
df_chemical = df[df['Ship_type']=='Chemical tanker']

#Container ship'
df_container =df[df['Ship_type']=='Container ship']

#Refrigerated cargo carrier
df_refcargo = df[df['Ship_type']=='Refrigerated cargo carrier']

#Vehicle carrier
df_vehicle_carrier = df[df['Ship_type']=='Vehicle carrier']

#Gas carrier
df_gas_carrier = df[df['Ship_type']=='Gas carrier']

#Container/ro-ro cargo ship
df_container_roro = df[df['Ship_type']=='Container/ro-ro cargo ship']

#Oil tanker
df_oil = df[df['Ship_type']=='Oil tanker']

#Combination carrier
df_comination = df[df['Ship_type']=='Combination carrier']

#LNG carrier
df_lng = df[df['Ship_type']=='LNG carrier'] 

#Other ship types
df_other = df[df['Ship_type']=='Other ship types']

# 1. Ro-pax ship

In [60]:
#reset index
df_ropax = df_ropax.reset_index(drop=True)
df_ropax.head(5)

,IMO_Number,Name,Ship_type,Reporting_Period,Technical_efficiency,[gCO₂/t·nm],Ice_Class,Verifier_Country,A,B,...,Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles],Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles],Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles],Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles],CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile],CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles],CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles],CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles],CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles],CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]
0,7037806,IONIAN STAR,Ro-pax ship,2021.0,EIV,19.40,NaN,France,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7128332,SEA WIND,Ro-pax ship,2021.0,EIV,9.29,IB,France,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7230599,MARKO POLO,Ro-pax ship,2021.0,EIV,45.00,NaN,Croatia,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7325095,LAMPEDUSA,Ro-pax ship,2021.0,EIV,35.34,NaN,Italy,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7346221,SUPERFERRY II,Ro-pax ship,2021.0,EIV,44.89,NaN,Italy,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
#Unique Values
print("\n Unique values:")
df_ropax.nunique()

 Unique values:

IMO_Number                                                                                      441
Name                                                                                            474
Ship_type                                                                                         1
Reporting_Period                                                                                  4
Technical_efficiency                                                                              2
[gCO₂/t·nm]                                                                                     466
Ice_Class                                                                                         4
Verifier_Country                                                                                  8
A                                                                                                 1
B                                                                                                 1
C                                                                                                 1
D                                                                                                 0
Total_fuel_consumption_[m_tonnes]                                                              1536
Fuel_consumptions_assigned_to_On_laden_[m_tonnes]                                                 0
Total_CO₂_emissions_[m_tonnes]                                                                 1539
CO₂_emissions_from_all_voyages_between_ports_under_a_MS_jurisdiction_[m_tonnes]                1443
CO₂_emissions_from_all_voyages_which_departed_from_ports_under_a_MS_jurisdiction_[m_tonnes]     310
CO₂_emissions_from_all_voyages_to_ports_under_a_MS_jurisdiction_[m_tonnes]                      323
CO₂_emissions_which_occurred_within_ports_under_a_MS_jurisdiction_at_berth_[m_tonnes]          1490
CO₂_emissions_assigned_to_Passenger_transport_[m_tonnes]                                       1523
CO₂_emissions_assigned_to_Freight_transport_[m_tonnes]                                         1496
CO₂_emissions_assigned_to_On_laden_[m_tonnes]                                                     0
Annual_Total_time_spent_at_sea_[hours]                                                         1520
Annual_average_Fuel_consumption_per_distance_[kg_/_n_mile]                                     1476
Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles]                 18
Annual_average_Fuel_consumption_per_transport_workvolume)_[g_/_m³_·_n_miles]                      0
Annual_average_Fuel_consumption_per_transport_workdwt)_[g_/_dwt_carried_·_n_miles]                0
Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles]                     1472
Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles]            1387
Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile]                                    1515
Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles]                18
Annual_average_CO₂_emissions_per_transport_workvolume)_[g_CO₂_/_m³_·_n_miles]                     0
Annual_average_CO₂_emissions_per_transport_workdwt)_[g_CO₂_/_dwt_carried_·_n_miles]               0
Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles]                    1510
Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles]           1444
Through_ice_[n_miles]                                                                             2
Total_time_spent_at_sea_[hours]                                                                1520
Total_time_spent_at_sea_through_ice_[hours]                                                       2
Fuel_consumption_per_distance_on_laden_voyages_[kg_/_n_mile]                                      0
Fuel_consumption_per_transport_workmass)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]                0
Fuel_consumption_per_transport_workvolume)_on_laden_voyages_[g_/_m³_·_n_miles]                    0
Fuel_consumption_per_transport_workdwt)_on_laden_voyages_[g_/_dwt_carried_·_n_miles]              0
Fuel_consumption_per_transport_workpax)_on_laden_voyages_[g_/_pax_·_n_miles]                      0
Fuel_consumption_per_transport_workfreight)_on_laden_voyages_[g_/_m_tonnes_·_n_miles]             0
CO₂_emissions_per_distance_on_laden_voyages_[kg_CO₂_/_n_mile]                                     0
CO₂_emissions_per_transport_workmass)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]               0
CO₂_emissions_per_transport_workvolume)_on_laden_voyages_[g_CO₂_/_m³_·_n_miles]                   0
CO₂_emissions_per_transport_workdwt)_on_laden_voyages_[g_CO₂_/_dwt_carried_·_n_miles]             0
CO₂_emissions_per_transport_workpax)_on_laden_voyages_[g_CO₂_/_pax_·_n_miles]                     0
CO₂_emissions_per_transport_workfreight)_on_laden_voyages_[g_CO₂_/_m_tonnes_·_n_miles]            0
dtype: int64

In [62]:
#Droping column which has 0 unique value
for i in df_ropax.columns:
    if len(df_ropax[i].unique()) == 1:
        df_ropax.drop(i,inplace=True,axis=1)
df_ropax.nunique()

IMO_Number                                                                                      441
Name                                                                                            474
Reporting_Period                                                                                  4
Technical_efficiency                                                                              2
[gCO₂/t·nm]                                                                                     466
Ice_Class                                                                                         4
Verifier_Country                                                                                  8
A                                                                                                 1
B                                                                                                 1
C                                                                                                 1
Total_fuel_consumption_[m_tonnes]                                                              1536
Total_CO₂_emissions_[m_tonnes]                                                                 1539
CO₂_emissions_from_all_voyages_between_ports_under_a_MS_jurisdiction_[m_tonnes]                1443
CO₂_emissions_from_all_voyages_which_departed_from_ports_under_a_MS_jurisdiction_[m_tonnes]     310
CO₂_emissions_from_all_voyages_to_ports_under_a_MS_jurisdiction_[m_tonnes]                      323
CO₂_emissions_which_occurred_within_ports_under_a_MS_jurisdiction_at_berth_[m_tonnes]          1490
CO₂_emissions_assigned_to_Passenger_transport_[m_tonnes]                                       1523
CO₂_emissions_assigned_to_Freight_transport_[m_tonnes]                                         1496
Annual_Total_time_spent_at_sea_[hours]                                                         1520
Annual_average_Fuel_consumption_per_distance_[kg_/_n_mile]                                     1476
Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles]                 18
Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles]                     1472
Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles]            1387
Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile]                                    1515
Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles]                18
Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles]                    1510
Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles]           1444
Through_ice_[n_miles]                                                                             2
Total_time_spent_at_sea_[hours]                                                                1520
Total_time_spent_at_sea_through_ice_[hours]                                                       2
dtype: int64

In [63]:
df_ropax.fillna(0)

,IMO_Number,Name,Reporting_Period,Technical_efficiency,[gCO₂/t·nm],Ice_Class,Verifier_Country,A,B,C,...,Annual_average_Fuel_consumption_per_transport_workmass)_[g_/_m_tonnes_·_n_miles],Annual_average_Fuel_consumption_per_transport_workpax)_[g_/_pax_·_n_miles],Annual_average_Fuel_consumption_per_transport_workfreight)_[g_/_m_tonnes_·_n_miles],Annual_average_CO₂_emissions_per_distance_[kg_CO₂_/_n_mile],Annual_average_CO₂_emissions_per_transport_workmass)_[g_CO₂_/_m_tonnes_·_n_miles],Annual_average_CO₂_emissions_per_transport_workpax)_[g_CO₂_/_pax_·_n_miles],Annual_average_CO₂_emissions_per_transport_workfreight)_[g_CO₂_/_m_tonnes_·_n_miles],Through_ice_[n_miles],Total_time_spent_at_sea_[hours],Total_time_spent_at_sea_through_ice_[hours]
0,7037806,IONIAN STAR,2021.0,EIV,19.40,0,France,Yes,0,0,...,0.0,2284.71,69.92,263.01,0.0,7324.78,224.16,0.0,1771.00,0.0
1,7128332,SEA WIND,2021.0,EIV,9.29,IB,France,Yes,0,0,...,0.0,654.50,56.65,296.12,0.0,2067.86,178.98,0.0,2737.00,0.0
2,7230599,MARKO POLO,2021.0,EIV,45.00,0,Croatia,0,Yes,0,...,0.0,2.57,0.67,372.65,0.0,8.25,2.15,0.0,2229.75,0.0
3,7325095,LAMPEDUSA,2021.0,EIV,35.34,0,Italy,0,Yes,0,...,0.0,15.14,201.85,358.58,0.0,48.54,647.12,0.0,1272.25,0.0
4,7346221,SUPERFERRY II,2021.0,EIV,44.89,0,Italy,0,0,0,...,0.0,0.93,1.25,414.57,0.0,2.91,3.90,0.0,3090.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,9665437,LOCH SEAFORTH,2018.0,0,0.00,0,United Kingdom,Yes,0,0,...,0.0,0.18,0.18,250.98,0.0,0.57,0.57,0.0,4862.00,0.0
1543,9773064,MEGASTAR,2018.0,EIV,2.38,IA,United Kingdom,0,0,Yes,...,0.0,131.02,30.00,502.50,0.0,363.57,83.25,0.0,4645.40,0.0
1544,9791028,VICTORIA OF WIGHT,2018.0,0,0.00,0,United Kingdom,Yes,0,0,...,0.0,3.22,0.44,150.32,0.0,10.32,1.41,0.0,699.00,0.0
1545,9793064,EXPRESS 3,2018.0,EIV,1.10,0,United Kingdom,Yes,0,0,...,0.0,297.51,12.94,447.51,0.0,953.82,41.48,0.0,3712.70,0.0
1546,9812107,HAMMERSHUS,2018.0,EIV,11.02,IC,United Kingdom,Yes,0,0,...,0.0,260.80,16.94,256.20,0.0,836.13,54.30,0.0,1743.70,0.0

In [64]:
import dtale
import dtale.app as dtale_app

dtale_app.USE_COLAB = True

In [65]:
dtale.show(df)

https://mjo92xrqt3-496ff2e9c6d22116-40000-colab.googleusercontent.com/dtale/main/6

In [77]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import plotly.io as pio
pio.renderers.default = 'colab'
import plotly.graph_objs as go

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = df.groupby('Ship_type')[['Total_CO₂_emissions_[m_tonnes]']].agg(['count', 'mean'])
chart.columns = chart.columns.droplevel(0)
chart.columns = ["count", "data"]
chart.index.name = 'labels'
chart = chart.reset_index()
chart = chart[:100]
charts = [
	go.Bar(x=chart['labels'].values, y=chart['data'].values),
	go.Scatter(
		x=chart['labels'].values, y=chart['count'].values, yaxis='y2',
		name='Frequency', line={'shape': 'spline', 'smoothing': 0.3}, mode='lines'
	)
]
figure= go.Figure(data=charts, layout=go.Layout({
    'barmode': 'group',
    'legend': {'orientation': 'h'},
    'title': {'text': 'Total_CO₂_emissions_[m_tonnes](mean) Categorized by Ship_type'},
    'xaxis': {'title': {'text': 'Ship_type'}},
    'yaxis': {'side': 'left', 'title': {'text': 'Total_CO₂_emissions_[m_tonnes] (mean)'}},
    'yaxis2': {'overlaying': 'y', 'side': 'right', 'title': {'text': 'Frequency'}}
}))
figure.show()

In [78]:

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = df.groupby('Ship_type')[['[gCO₂/t·nm]']].agg(['count', 'mean'])
chart.columns = chart.columns.droplevel(0)
chart.columns = ["count", "data"]
chart.index.name = 'labels'
chart = chart.reset_index()
chart = chart[:100]
charts = [
	go.Bar(x=chart['labels'].values, y=chart['data'].values),
	go.Scatter(
		x=chart['labels'].values, y=chart['count'].values, yaxis='y2',
		name='Frequency', line={'shape': 'spline', 'smoothing': 0.3}, mode='lines'
	)
]
figure = go.Figure(data=charts, layout=go.Layout({
    'barmode': 'group',
    'legend': {'orientation': 'h'},
    'title': {'text': '[gCO₂/t·nm](mean) Categorized by Ship_type'},
    'xaxis': {'title': {'text': 'Ship_type'}},
    'yaxis': {'side': 'left', 'title': {'text': '[gCO₂/t·nm] (mean)'}},
    'yaxis2': {'overlaying': 'y', 'side': 'right', 'title': {'text': 'Frequency'}}
}))

figure.show()